@tailwind base;
@tailwind components;
@tailwind utilities;

/* for debugging purposes */
/* * {
	box-sizing: border-box;
	background: rgb(0 100 0 / 0.1) !important;
} */

::selection {
	@apply bg-cyan-500 text-white dark:bg-zinc-600 dark:text-zinc-100;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

#content-markdown {
	.content {
		@apply text-lg;

		a {
			@apply link;
		}

		blockquote {
			@apply my-8 border-2 border-t-4 border-zinc-700 p-3 text-sm md:p-5;

			p {
				@apply mt-0 leading-6;
			}
		}

		code {
			font-size: 15px;
			@apply border border-zinc-700 bg-zinc-300 px-1 text-sm font-semibold text-zinc-900;
		}

		h2 {
			@apply mt-12 text-xl font-black md:text-2xl;
		}

		h3 {
			@apply mt-10 font-black md:text-xl;
		}

		h4 {
			@apply mt-8 font-black;
		}

		h5,
		h6 {
			@apply mt-5 font-black;
		}

		img {
			@apply mx-auto mt-5 block;
		}

		img + em {
			@apply mt-3 mb-5 block text-center text-sm;
		}

		p {
			@apply mt-5 break-words leading-7;
		}

		ul {
			@apply arrow-list;
		}

		ol {
			@apply mt-5 pl-5 md:pl-8;

			li {
				@apply mt-1.5 list-decimal pl-3;
			}
		}
	}

	.anchorLink {
		@apply link ml-1.5;
	}
}

.arrow-list {
	@apply mt-5 list-none pl-5 md:pl-8;

	list-style-type: '➡️';

	li {
		@apply mt-1.5 pl-3;
	}
}

.card-shadow {
	@apply shadow-xl;
}

.content-section {
	@apply mx-auto w-full max-w-7xl px-4 sm:px-6 lg:px-8;
}

.content-section-text {
	@apply mb-content mx-auto w-full max-w-3xl px-4 sm:px-6 lg:px-8;
}

.content-uppercase {
	@apply font-semibold uppercase tracking-widest;
}

.feature-list-item {
	@apply mt-12 first:mt-0;
	page-break-inside: avoid;
	-webkit-column-break-inside: avoid;
	break-inside: avoid;
}

.feature-grid {
	@apply gap-12;
	grid-column: max/max 2;
	grid-column-start: max;
	grid-column-end: 2 max;
	justify-content: center;
	counter-reset: section;
	list-style-type: none;
	-webkit-column-width: 16rem;
	column-width: 16rem;
}

.header-link-active {
	@apply link border-b-2;
}

.link {
	@apply border-cyan-600 text-cyan-600 underline ring-1 ring-transparent transition duration-150 focus:outline-none hover:underline dark:border-cyan-400 dark:text-cyan-400 dark:focus:ring-white dark:hover:text-cyan-500;
}

mark,
.highlight {
	@apply bg-cyan-400 px-0.5 font-semibold text-zinc-900;
}

.mb-content {
	@apply mb-8 md:mb-10 lg:mb-12;
}

.minimal-scrollbar {
	@apply scrollbar-thin scrollbar-track-zinc-100 scrollbar-thumb-zinc-500 dark:scrollbar-track-zinc-800 dark:scrollbar-thumb-zinc-600;
}

.mt-content {
	@apply mt-8 md:mt-10 lg:mt-12;
}

.negative-z {
	z-index: -1;
}

.pb-content {
	@apply pb-8 md:pb-10 lg:pb-12;
}

.pb-content-double {
	@apply pb-16 md:pb-20 lg:pb-24;
}

.primary-header {
	@apply w-full max-w-3xl text-xl font-black !leading-normal tracking-tight md:text-2xl lg:text-4xl;
}

.pt-content {
	@apply pt-8 md:pt-10 lg:pt-12;
}

.pt-content-double {
	@apply pt-16 md:pt-20 lg:pt-24;
}

.secondary-header {
	@apply text-xl font-black !leading-normal tracking-normal lg:text-2xl;
}

.sub-header-base {
	@apply text-base sm:max-w-2xl lg:text-lg;
}

.sub-header {
	@apply sub-header-base text-zinc-700 dark:text-zinc-200;
}

.sub-header-alt {
	@apply sub-header-base text-zinc-100 dark:text-zinc-800;
}
